.background {
  background-color: #0d141c;
}

.logo {
  background-image: url(../images/logo.png);
}

.progressBar {
  background-color: #9ecaff;
}

/*.splash {
  background-image: url(splash.png);
}

.watermark {
  background-image: url(watermark.png);
  background-size: 57px 57px;
}*/